body {
  padding: 2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: peru;
}

.hidden {
  display: none;
}

/* div {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
} */

#platoons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: crimson;
}

.all-platoons {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 2em;
  background-color: navy;
  font-family: Rubik Lines;
  color: azure;
}

.platoon-title {
  display: flex;
  justify-content: center;
}

.tech-details {
  border: none;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  width: 30vh;
}

.tlc-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.tlc-container img {
  height: 3em;
  width: auto;
}

.tech-container {
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  width: 30vh;
}

.badge-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.badge-container img {
  height: 3em;
  width: auto;
}
